<div class="minimal-container">
    <header>
        <p class="title"> <b> હિંમતનગર </b> શહેરી વિકાસ નિગમ </p>
        <nav>
            <li #h1>નાગરિક્તા
                @defer (on hover(h1)) {
                <div class="sub-menu">
                    <h2>મિલકત વેરો</h2>
                    <a>UPI થી ચુક્વો</a>
                    <br>
                    <br>
                    <h2>વ્યાવસાયિક કર વેરો</h2>
                </div>
                }
            </li>
            <li>સુવિધા
                <div class="sub-menu">
                    <h2>પાણીનો સ્ત્રોત</h2>
                </div>
            </li>
            <li>નગર આયોજન
                <div class="sub-menu">
                    <h2>સંગઠિત વ્યાપાર</h2>
                </div>
            </li>
        </nav>
    </header>
    <main>

        <div class="boxes">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
            <div class="box4"></div>
        </div>

    </main>
    <footer></footer>
</div>