.code {
    /* width: min(100%, 90vw); */
    max-width: 90vw;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #dddddd50;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1.25rem;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
}

.code button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: unset;
    background: unset;
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.25rem;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
}

.code:hover button {
    opacity: 1;
}

.code button:active {
    scale: 0.9;
}

.code button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.code:hover::after {
    content: "copy";
    font-size: 0.8rem;
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: 10
}

.code:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.078);
    /* translate: 0px -2px; */
}

.code p {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 1rem;
}

.code:has(p) {
    padding: 0;
}

.code pre {
    padding: 1rem;
}

code {
    background: unset;
    border-radius: unset;
}