.grid-center {
    height: 60dvh;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 100dvh;
}

.form-item{
    max-width: 50rem;
}

@media (width<400px){
    .form-item{
        max-width: 100%;
    }
}