.form-wrapper {
    width: 100%;
    view-transition-name: reactive-form;
}

:host {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form-wrapper h4 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4);
}

.action-btn{
    /* margin-top: 0.5rem; */
    display: flex;
    justify-content: end;
}