<div class="minimal-container">
    <header>
        <h1 class="title" routerLink="./">
            <code> BitBlocks </code>
        </h1>
        <p>
            💖 a dev's venture for angular community
        </p>
    </header>
    <nav>
        <ul>
            <li routerLinkActive="active" routerLink="forms"> Forms </li>
            <li routerLinkActive="active" routerLink="table"> Table </li>
            <li routerLinkActive="active" routerLink="tabs"> Tabs </li>
            <!-- <li routerLinkActive="active" routerLink="breadcrumbs"> Breadcrumbs </li> -->
            <li routerLinkActive="active" routerLink="layout"> Layout </li>
            <li routerLinkActive="active" routerLink="buttons"> Buttons </li>
            <li style="flex: 1;"></li>
            <li (click)="setTheme('bit-light')">light</li>
            <li (click)="setTheme('bit-dark')">dark</li>

            <li (click)="setColor('bit-purple')">purple</li>
            <li (click)="setColor('bit-green')">green</li>
            <li (click)="setColor('bit-orange')">orange</li>
            <li (click)="setColor('bit-blue')">blue</li>
            <li (click)="setColor('bit-red')">red</li>
        </ul>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <code>
            <span style="font-size: small;"> handcrafted by</span>
            <br> <a [style.color]="'var(--scheme-500)'" href="https://github.com/Kushhu">Kushagra Gangwal 🏹</a>
        </code>
    </footer>
</div>