<div class="minimal-container">
    <header>
        <h1 class="title" routerLink="./">
            <code> BitBlocks </code>
        </h1>
        <p>
            💖 a dev's venture for angular community
        </p>
    </header>
    <nav>
        <ul>
            <li routerLinkActive="active" routerLink="forms"> Forms </li>
            <li routerLinkActive="active" routerLink="table"> Table </li>
            <li routerLinkActive="active" routerLink="tabs"> Tabs </li>
            <!-- <li routerLinkActive="active" routerLink="breadcrumbs"> Breadcrumbs </li> -->
            <li routerLinkActive="active" routerLink="layout"> Layout </li>
            <li routerLinkActive="active" routerLink="buttons"> Buttons </li>
        </ul>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>