<div class="minimal-container">
    <header>
        <h1 class="title">
            <code> BitBlocks </code>
        </h1>
        <p>
            💖 a developer's venture for angular community.
        </p>
    </header>
    <nav>
        <ul>
            <li routerLink="forms"> Forms </li>
            <li routerLink="table"> Table </li>
            <li routerLink="tabs"> Tabs </li>
            <li routerLink="breadcrumbs"> Breadcrumbs </li>
            <li routerLink="cards"> Cards </li>
        </ul>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>