/* === Layout === */
.minimal-container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    position: relative;
}

header,
nav,
main,
footer {
    padding: 0 clamp(1.5rem, 4vw, 5rem);
}

header {
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    background-color: #ffe4e161;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    /* background-color: #ffe4e161; */
}

/* === Typography === */
header .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #c93e3e;
    margin: 0;
}

header p {
    /* font-size: 1.25rem; */
    margin: 0;
}

/* === Navigation === */
nav ul {
    display: flex;
    column-gap: 1.25rem;
    padding: 0;
    margin: 0;
    overflow-x: auto;
}

nav ul li {
    list-style: none;
    opacity: 0.6;
    margin: 1rem 0;
    /* padding: 0 0.5rem; */
    transition: opacity 200ms ease;
    position: relative;
}

nav ul li:hover {
    opacity: 1;
    cursor: pointer;
}


/* === Responsive === */
@media (width < 400px) {
    header {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        min-height: 5rem;
    }

    header p {
        font-size: 1rem;
    }
}

li.active {
    opacity: 1 !important;
}

li.active::after {
    content: "";
    border-bottom: 3px solid #c93e3e;
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
}
