<div class="wrapper">

    <app-table-of-content class="toc">
        <li>Directives</li>
        <li>Components</li>
    </app-table-of-content>

    <div class="section-wrapper">

        <section>
            <div class="header">
                <h2 class="title" id="installation">Getting Started</h2>
            </div>

            <p>Set up your Angular application and install the bitblocks library via npm to get started with form components.</p>
            <app-code-snippet title="bash terminal">
                {{"npm i bitblocks"}}
            </app-code-snippet>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="module">Importing Module</h2> • <code class="highlight"> bitFormsModule </code>
            </div>

            <p>Provides a comprehensive suite of form functionalities, everything from basic inputs to advanced validation.
                Exports all necessary members for input elements and consolidates them into a single module for streamlined imports.
            </p>

            <app-code-snippet>
                {{moduleCode}}
            </app-code-snippet>
        </section>

        <section>
            <div class="header">
                <h2 class="title" id=""></h2>
            </div>
        </section>
            
        <section>
            <div class="header">
                <h2 class="title" id="textbox">Textbox</h2> • <code class="highlight"> bitTextbox</code>
            </div>
            <p>
                A versatile input field directive that ensures consistent styling and user interaction across your forms.
            </p>

            <app-code-snippet>
                {{"\<input bitTextbox id=\"Name\" formControlName=\"Name\" />"}}
            </app-code-snippet>

        </section>


        <section>
            <div class="header">
                <h2 class="title" id="email">Email </h2> • <code class="highlight"> bitEmail </code>
            </div>
            <p>
                A specialized directive for email input fields, offering built-in validation and proper autocomplete handling.
            </p>
            <app-code-snippet>
                {{"\<input bitEmail id=\"Email\" autocomplete=\"email\" formControlName=\"Email\" />"}}
            </app-code-snippet>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="phone">Phone </h2> • <code class="highlight"> bitPhone </code>
            </div>
            <p>
                A directive for phone number inputs with automatic validation and formatting.
            </p>
            <ul>
                <li><code>Restricts input to numeric characters only.</code></li>
                <li><code>Enforces a maximum length of 10 digits.</code></li>
            </ul>
            <app-code-snippet>
                &lt;input bitPhone maxlength="10" formControlName="Phone" /&gt;
            </app-code-snippet>
        </section>

        <section>
            <div class="header">
                <h2 class="title" id="dropdown">Dropdown</h2> • <code class="highlight"> &lt;bit-dropdown&gt; </code>
            </div>

            <p>
                A flexible dropdown component supporting both single and multi-selection modes, with optional search functionality for filtering options.
            </p>

            <app-code-snippet title="Single Selection">{{dropdownCode}}</app-code-snippet>
        </section>

        <!-- <section>
            <div class="header">
                <h2 class="title" id="otp">OTP </h2> • <code class="highlight"> bitOTP </code>
            </div>
            <p>

            </p>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="file-upload">File</h2> • <code class="highlight">bitFile</code>
            </div>
            <p>

            </p>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="calender">Calender</h2> • <code class="highlight">bitCalender</code>
            </div>
            <p>

            </p>
        </section> -->
    </div>

    <app-example-forms [showBinding]="true" class="sticky-form"></app-example-forms>
</div>