section {
    min-height: 8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section .header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    background-color: white;
    position: sticky;
    top: 0;
}

section p {
    margin-top: 0;
    color: #303030;
}

.container {
    display: grid;
    align-items: start;
    gap: 2rem;
    grid-template-columns: 15rem 1fr 20rem;
}

@media (width < 400px) {
    .container {
        grid-template-columns: 1fr;
    }

    .table-of-content {
        display: none;
    }
}

.table-of-content ul li {
    padding: 0.3rem;
}

ul {
    margin-top: 0;
    padding-left: 1.5rem;
}

