<div class="wrapper">

    <app-table-of-content>
        <li>Directives</li>
        <li>Components</li>
    </app-table-of-content>

    <div class="section-wrapper">
        <section>
            <div class="header">
                <h2 class="title" id="module">Module Init</h2> • <code class="highlight"> bitFormsModule </code>
            </div>

            <p> Covers dynamic range of form functionalities from
                bottom to top.
            </p>
            <p>
                It provides exported members for
                input elements and creates a unifying module that can be accomodated by only importing one whole module.
            </p>

            <app-code-snippet>
                {{moduleCode}}
            </app-code-snippet>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="textbox">Textbox</h2> • <code class="highlight"> bitTextbox</code>
            </div>
            <p>
                A universal input field that keeps design elements organized with user interaction.
            </p>

            <app-code-snippet>
                {{"\<input bitTextbox id=\"Name\" formControlName=\"Name\" />"}}
            </app-code-snippet>

        </section>


        <section>
            <div class="header">
                <h2 class="title" id="email">Email </h2> • <code class="highlight"> bitEmail </code>
            </div>
            <p>
                Independent directive conviniently used for email input field.
            </p>
            <app-code-snippet>
                {{"\<input bitEmail id=\"Email\" autocomplete=\"email\" formControlName=\"Email\" />"}}
            </app-code-snippet>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="phone">Phone </h2> • <code class="highlight"> bitPhone </code>
            </div>
            <p>
                Independent directive can be placed for validating the phone number.
            </p>
            <ul>
                <li><code>user can only enter numerics.</code></li>
                <li><code>validates max 10 digits for phone number.</code></li>
            </ul>
            <app-code-snippet>
                &lt;input bitPhone maxlength="10" formControlName="Phone" /&gt;
            </app-code-snippet>
        </section>

        <section>
            <div class="header">
                <h2 class="title" id="dropdown">Dropdown</h2> • <code class="highlight"> &lt;bit-dropdown&gt; </code>
            </div>

            <app-code-snippet>{{dropdownCode}}</app-code-snippet>
        </section>

        <section>
            <div class="header">
                <h2 class="title" id="otp">OTP </h2> • <code class="highlight"> bitOTP </code>
            </div>
            <p>

            </p>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="file-upload">File</h2> • <code class="highlight">bitFile</code>
            </div>
            <p>

            </p>
        </section>


        <section>
            <div class="header">
                <h2 class="title" id="calender">Calender</h2> • <code class="highlight">bitCalender</code>
            </div>
            <p>

            </p>
        </section>
    </div>

    <app-example-forms class="sticky-form"></app-example-forms>
</div>