/* === Layout & Structure === */
section {
    min-height: 8rem;
    margin-bottom: var(--mb-xl);
}

section .header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5rem;
}

section p {
    color: #303030;
    line-height: 1.5rem;
}

.wrapper {
    margin: 1rem 0;
    display: grid;
    position: relative;
    align-items: start;
    gap: 2rem;
    grid-template-columns: 15rem 1fr 20rem;
}

.section-wrapper {
    padding-bottom: 30vh;
}

.form-wrapper {
    position: sticky;
    top: 4rem;
    z-index: 2;
}

/* === Lists === */
ul {
    margin-top: 0;
    padding-left: 1.5rem;
}

/* === Responsive === */
@media (width < 400px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .table-of-content {
        display: none;
    }
}