.wrapper {
    margin: 1rem 0;
    display: grid;
    align-items: start;
    grid-template-columns: 15rem 1fr;
    column-gap: 2rem;
}

/* === Layout & Structure === */
section {
    min-height: 8rem;
}

section .header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

section p {
    color: #303030;
    line-height: 1.5rem;
}


/* === Responsive === */
@media (width < 400px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}