<div class="wrapper">

    <app-table-of-content></app-table-of-content>

    <div class="section-wrapper">

        <section class="mb-2">
            <div class="header">
                <h2 class="title" id="basic-table">Table</h2> • <span> <code> &lt;bit-table&gt; </code>
                </span>
            </div>
            <p>A basic code defined approch to declare table content.</p>
            <p>
                The <code>&lt;bit-table&gt;</code> component allows you to define table content directly in your template using <code>&lt;bit-table-row&gt;</code> and <code>&lt;bit-table-cell&gt;</code> elements. This approach is useful for simple tables with static data.
            </p>
            <app-code-snippet title="table.component.html">{{snippet.basic}}</app-code-snippet>

            <bit-table [columns]="['id','title','price']">

                <bit-table-row>
                    <bit-table-cell>9</bit-table-cell>
                    <bit-table-cell>Kushagra</bit-table-cell>
                    <bit-table-cell>30</bit-table-cell>
                </bit-table-row>

                <bit-table-row>
                    <bit-table-cell>8</bit-table-cell>
                    <bit-table-cell>Ramni</bit-table-cell>
                    <bit-table-cell>22</bit-table-cell>
                </bit-table-row>

            </bit-table>

        </section>

        <section class="mb-2">
            <div class="header">
                <h2 class="title" id="table">Basic Data Table</h2> • <span> <code> &lt;bit-table&gt; </code> </span>
            </div>
            <p>Data Table allows list of entities togather for complex data handling.</p>
            <ul>
                <li>Supports dynamic data binding using the <code>[data]</code> input.</li>
                <li>Automatically generates columns based on object keys if columns are not specified.</li>
                <li>Ideal for displaying lists of entities such as products, users, or orders.</li>
                <li>Enables sorting, filtering, and pagination (if implemented in your component).</li>
            </ul>

            <app-code-snippet> {{"\<bit-table [data]=\"products\"> \</bit-table\>"}}</app-code-snippet>

            <bit-table [data]="products"> </bit-table>

        </section>

        <!-- <bit-separator></bit-separator> -->

        <section class="mb-2">
            <div class="header">
                <h2 class="title" id="custom-columns">Customizing Columns</h2> •
                <code> bitHeader </code> •
                <code> bitRow </code>
            </div>
            <p>You can specify each columns inside component and create a distinct order or customize view. </p>

            <!-- <div class="col-2"> -->

            <app-code-snippet title="table.component.html">{{snippet.customTable}}</app-code-snippet>

            <bit-table [data]="products">

                <ng-template #bitHeader>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Price</th>
                </ng-template>

                <ng-template #bitRow let-row>
                    <td> {{row.id}} </td>
                    <td> {{row.title}} </td>
                    <td> {{row.price | currency : row.currency}} </td>
                </ng-template>

                <!-- <ng-template #bitCard let-row>
                        <div class="bit-card">
                            <div class="flex space-between">
                                <h3 class="bit-table-cell">{{row.title}}</h3>
                                <p>{{row.price | currency:row.currency}}</p>
                            </div>
                            <bit-separator></bit-separator>
                            <p class="bit-table-cell">{{row.description}}</p>
                        </div>
                    </ng-template> -->

            </bit-table>


            <!-- </div> -->


        </section>
    </div>

</div>