<div class="wrapper">

    <app-table-of-content>
        <li>Directives</li>
        <li>Components</li>
    </app-table-of-content>

    <div class="section-wrapper">
        <section>
            <div class="header">
                <h2 class="title" id="button">Basic Button</h2> • <code class="highlight"> bitButton </code>
            </div>

        </section>
    </div>

    <div>

        <h4>Varients</h4>

        <div class="button-list">

            <button bitOutlinedButton>
                Add
            </button>

            <button bitFillButton width="70%">
                Dynamic width
            </button>

            <button bitFillButton>
                Fill Button
            </button>

            <button bitTextButton textColor="green">
                Text Button
            </button>

            <button bitOutlinedButton>
                Outlined Button
            </button>

        </div>

        <br>
        <h4>Loading Animation</h4>

        <div class="button-list">
            <button bitFillButton width="100%" (click)="submit()" [loading]="loading">
                Submit Application 🏹
            </button>

        </div>

        <br>
        <h4>Disabled Button</h4>

        <div class="button-list">
            <button bitFillButton [disabled]="true">
                Fill Button
            </button>

            <button bitTextButton textColor="gray" [disabled]="true">
                Text Button
            </button>

            <button bitOutlinedButton [disabled]="true">
                Outlined Button
            </button>
        </div>
    </div>
</div>