/* === Layout & Structure === */
section {
  min-height: 8rem;
  margin-bottom: 5rem;
}

section .header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;
  color: light-dark(hsl(0 0 5%), hsl(0 0 90%));
}

section p {
  line-height: 1.5rem;
  color: light-dark(hsl(0 0 15%), hsl(0 0 80%));
}

section .header h2::target-text {
  color: red;
}

.section-wrapper{
  margin-top: 2rem;
}

.wrapper {
  margin: 1rem 0;
  display: grid;
  position: relative;
  align-items: start;
  gap: 2rem;
  grid-template-columns: 15rem 1fr 20rem;
}

.section-wrapper {
  padding-bottom: 30vh;
}

h4{
  margin-top: 1.5rem;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* === Responsive === */
@media (width < 400px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .table-of-content {
        display: none;
    }
}