/* @import url("../dist/bitblocks/src/lib/bit-button/style.button.css");
@import url("../dist/bitblocks/src/lib/bit-forms/styles/style.textbox.css");
@import url("../dist/bitblocks/src/lib/bit-colors/style.color.css"); */
@import url("../node_modules/bitblocks/src/lib/bit-colors/style.color.css"); 
@import url("../node_modules/bitblocks/src/lib/bit-forms/styles/style.textbox.css"); 
@import url("../node_modules/bitblocks/src/lib/bit-button/style.button.css"); 

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

:root {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-size: clamp(14px, 0.5vw + 0.1rem, 18px);

  /* color-scheme: dark light; */

  --mb-xs: 0.3rem;
  --mb-s: 0.5rem;
  --mb-m: 1rem;
  /* --mb-r: 1.5rem; */
  --mb-l: 1.5rem;
  --mb-xl: 3rem;
  --mb-xxl: 5rem;
}

::view-transition-group(root) { animation: none; }

body,
pre {
  margin: 0;
  background-color: light-dark(white, hsl(0 0 3%));
}

a {
  text-decoration: none;
  color: black;
}

code.highlight {
  background: linear-gradient(45deg, var(--scheme-100), transparent);
  border-radius: 4px;
  padding: 2px 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: var(--mb-m);
}

p {
  margin: 0;
  margin-bottom: var(--mb-s);
}

p:last-of-type {
  margin-bottom: var(--mb-s);
}

.flex {
  display: flex;
  gap: 1rem;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.middle {
  align-items: center;
}

input[type="checkbox"] {
  accent-color: var(--scheme-500);
  cursor: pointer;
}
input[type="checkbox"]:hover {
  box-shadow: 0 1px 1px 4px hsl(from var(--scheme-500) h s l / 0.1);
}
