<bit-tab-group [(active)]="val">
    <bit-tab title="Active">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quisquam dolores labore placeat? Sapiente,
            tenetur. Exercitationem hic provident consectetur ea dolores? Commodi officia vitae deleniti omnis
            aspernatur cupiditate ea reiciendis!</p>

    </bit-tab>
    <bit-tab title="Inactive">
        @defer (on viewport()) {
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quisquam dolores labore placeat? Sapiente,
                tenetur. Exercitationem hic provident consectetur ea dolores? Commodi officia vitae deleniti omnis
                aspernatur cupiditate ea reiciendis!</p>
            }
        @placeholder {
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing </h3>
        }
    </bit-tab>
</bit-tab-group>