/* === Table of Contents === */
:host {
    position: sticky;
    top: 4rem;
    z-index: 2;
}

.table-of-content ul li {
    /* opacity: 0.5; */
    padding: 0.3rem;
    list-style: none;
    border-left: 1px solid #00000030;
    transition: opacity 0.2s ease;
    padding-left: 1rem;
    margin-left: 4px;
}

.table-of-content ul li:hover,
li:hover a {
    opacity: 1;
    /* border-color: black; */
    cursor: pointer;
}

.table-of-content h4 {
    margin: 0;
    margin-bottom: var(--mb-xs);
}

ul {
    margin-top: 0;
    padding: 0;
}

a {
    text-decoration: none;
    opacity: 0.5;
    width: 100%;
    color: black;
}

li:has(a.active),
a.active {
    opacity: 1;
    border-color: black !important;
}

@media (width < 400px) {
    .table-of-content {
        display: none
    }
}